@import "tailwindcss";
/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



body {
  background: var(--background);
  color: var(--foreground);
}
.top-bottom {
  padding: 40px 0px;
}
/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-none {
  scrollbar-width: none;
}
.animated--background {
  background: linear-gradient(
    320deg,
    rgba(46, 196, 243, 0.3),
    rgba(191, 214, 51, 0.3)
  );
  background-size: 500% 500%;
  animation: colortransition 10s ease infinite;
}
@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1536px) {
    .container {
      max-width: 1320px;
    }
  }
  /* @media (min-width: 1536px) {
    .container {
      max-width: 1500px;
    }
  } */
}

@-webkit-keyframes colortransition {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes colortransition {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes colortransition {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes colortransition {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.libraies--component:hover {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #bfd633;
}

.core-icon {
  background: linear-gradient(
    320deg,
    rgba(46, 196, 243, 1),
    rgba(191, 214, 51, 1)
  );
  transition: background 0.8s ease-out;
}
.main-core:hover .core-icon {
  background: white;
  transition: background 0.8s ease-out;
}
.main-core.border-custom {
  border: double 3px transparent;
  border-radius: 21px;
  transition: background-color 0.8s ease-out, box-shadow 0.8s ease-out,
    transform 0.8s ease-out;
}
.main-core:hover.border-custom {
  background-clip: unset;
  transform: scale(1.02);
}
.text-story {
  font-size: clamp(1.5rem, -1.625rem + 10vw, 4rem);
}
.text-para {
  font-size: clamp(0.8125rem, 0.1094rem + 2.25vw, 1.375rem);
  line-height: 35px;
}
.up_heading {
  left: 8%;
  font-size: clamp(1.75rem, 1.1738rem + 3.2927vw, 5.125rem);
  font-weight: 800;
  top: 50%;
}
.cards {
  margin-left: -1rem;
}
.head_1_last {
  font-size: clamp(1.4375rem, 1.2348rem + 1.1585vw, 2.625rem);
  letter-spacing: -1px;
}

.head_1 {
  font-size: clamp(1.375rem, 1.2683rem + 0.6098vw, 2rem);
}
.cards img {
  padding: 0.5rem 1rem 0rem 1rem;
}

@media (max-width: 640px) {
  .cards {
    margin-left: 0rem;
  }
  .cards img {
    padding: 0rem;
    margin-left: 2rem;
  }
}

/* gradient button start  */
.gradient-button,
.gradient-event-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  border: none;
  transition: all 0.3s ease;
  width: fit-content;
  font-size: 24px;
  line-height: inherit;
  font-weight: 500;
  text-transform: capitalize;
}

.gradient-button span,
.gradient-event-btn span {
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.gradient-button::before,
.gradient-event-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(to right, #2ec4f3, #bfd633);
  background: linear-gradient(to right, #2ec4f3, #bfd633);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 1;
}

.gradient-button::after,
.gradient-event-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(to right, #2ec4f3, #bfd633);
  transition: all 0.5s ease-in-out;
}

.gradient-button:hover:after,
.active.gradient-event-btn::after {
  width: 100%;
}

.gradient-button img {
  margin-left: 10px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.gradient-button:hover img {
  transform: rotate(28deg);
}

.gradient-button:hover {
  background-color: #f9f9f9;
}

.cta--section--life {
  position: relative;
  background: url("/cta-life.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 525px;
  display: flex;
  align-items: center;
}

.cta--section--life::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

/* Design For Design Process Component */

:root {
  --border-width: 2px;
  --border-radius: 2rem;
  --circle-radius: 20px;
  --circle-position: 45%;
}
.outer--box {
  height: 14.5rem;
  border-radius: var(--border-radius);
  position: relative;
  background-image: linear-gradient(to left, black 80%, transparent 20%);
}

.outer--box.alt--box {
  background-image: linear-gradient(to right, black 20%, transparent 20%);
}

.outer--box:first-child::after,
.outer--box:last-child::after {
  content: "";
  position: absolute;
  border-radius: var(--border-radius);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.outer--box:first-child::after {
  background-image: linear-gradient(
    to bottom,
    black var(--circle-position),
    transparent 20%
  );
}
.outer--box:last-child::after {
  background-image: linear-gradient(
    to top,
    black var(--circle-position),
    transparent 60%
  );
}
.outer--box:first-child::before,
.outer--box:last-child::before {
  content: "";
  position: absolute;
  border-radius: var(--border-radius);
  top: calc(var(--circle-position) - var(--circle-radius) / 2);
  left: calc(var(--border-width) / 2 - var(--circle-radius) / 2);
  width: var(--circle-radius);
  height: var(--circle-radius);
  background-color: black;
  z-index: 1;
}
.outer--box.alt--box:last-child::before {
  content: "";
  position: absolute;
  border-radius: var(--border-radius);
  top: calc(var(--circle-position) - var(--circle-radius) / 2);
  left: unset;
  right: calc(var(--border-width) / 2 - var(--circle-radius) / 2);
  width: var(--circle-radius);
  height: var(--circle-radius);
  background-color: black;
  z-index: 1;
}

.outer--box:nth-child(1) {
  top: calc(-1 * var(--border-width) * (1 - 1));
}
.outer--box:nth-child(2) {
  top: calc(-1 * var(--border-width) * (2 - 1));
}
.outer--box:nth-child(3) {
  top: calc(-1 * var(--border-width) * (3 - 1));
}
.outer--box:nth-child(4) {
  top: calc(-1 * var(--border-width) * (4 - 1));
}
.outer--box:nth-child(5) {
  top: calc(-1 * var(--border-width) * (5 - 1));
}
.outer--box:nth-child(6) {
  top: calc(-1 * var(--border-width) * (6 - 1));
}
.outer--box:nth-child(7) {
  top: calc(-1 * var(--border-width) * (7 - 1));
}
.outer--box:nth-child(8) {
  top: calc(-1 * var(--border-width) * (8 - 1));
}
.outer--box:nth-child(9) {
  top: calc(-1 * var(--border-width) * (9 - 1));
}
.outer--box:nth-child(10) {
  top: calc(-1 * var(--border-width) * (10 - 1));
}
.outer--box:nth-child(11) {
  top: calc(-1 * var(--border-width) * (11 - 1));
}
.outer--box:nth-child(12) {
  top: calc(-1 * var(--border-width) * (12 - 1));
}

.inner-section {
  inset: var(--border-width);
  position: relative;
  border-radius: calc(var(--border-radius) - var(--border-width));
  height: calc(100% - 2 * var(--border-width));
  width: calc(100% - 2 * var(--border-width));
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-arrow-img {
  position: absolute;
  width: 3.56%;
  left: calc(100% - 78%);
}
.right-arrow-img {
  position: absolute;
  width: 3.56%;
  left: calc(100% - 24%);
}
.suqre--box {
  top: calc(100% - 108%);
  transform: rotate(45deg);
  width: 35px;
  height: 35px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  position: absolute;
}
.suqre--box.right--side {
  right: calc(100% - 90%);
  background: #e7f2c8;
}
.suqre--box.left--side {
  left: calc(100% - 90%);
  background: #c5eef6;
}

@media only screen and (max-width: 1320.99px) {
  .right-arrow-img,
  .left-arrow-img {
    width: 3.7%;
  }
}
@media only screen and (max-width: 1140px) {
  .right-arrow-img,
  .left-arrow-img {
    width: 4.4%;
  }
  .left-arrow-img {
    left: calc(100% - 75%);
  }
  .right-arrow-img {
    left: calc(100% - 29%);
  }
}
@media only screen and (max-width: 960px) {
  .outer--box {
    height: 17rem;
  }
  .suqre--box {
    top: calc(100% - 105.8%);
    width: 30px;
    height: 30px;
  }
  .right-arrow-img,
  .left-arrow-img {
    width: 7%;
  }
}
@media only screen and (max-width: 720px) {
  .right-arrow-img,
  .left-arrow-img {
    display: none;
  }
  .suqre--box.right--side {
    right: calc(100% - 55%);
    background: #d6f0df;
  }
  .suqre--box.left--side {
    left: calc(100% - 50%);
    background: #d6f0df;
  }
  .outer--box {
    height: 20rem;
  }
  .inner-section {
    justify-content: space-evenly;
  }
  .suqre--box {
    top: calc(100% - 104.8%);
  }
}
@media only screen and (max-width: 380px) {
  .outer--box {
    height: 21rem;
  }
}
@media only screen and (max-width: 340px) {
  .outer--box {
    height: 25rem;
  }
  .suqre--box {
    top: calc(100% - 104%);
  }
}
.border-custom {
  width: auto;
  height: auto;
  border: double 2px transparent;
  border-radius: 26px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #2ec4f3, #bfd633);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/* Dream Web Section */
.dream-application p {
  font-size: clamp(1rem, 0.9146rem + 0.4878vw, 1.5rem);
}
.dream-application li {
  font-size: clamp(1rem, 0.9146rem + 0.4878vw, 1.5rem);
}
.listing {
  padding: 0 0 0 25px;
}
.listing li {
  position: relative;
  padding-left: 1rem;
  padding: 6px 0;
}

.listing li::before {
  position: absolute;
  left: -1.755rem;
  content: "";
  background: linear-gradient(100.63deg, #2ec4f3 9.94%, #bfd633 86.86%);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  top: 16px;
  margin: auto;
}

@media (max-width: 640px) {
  .listing {
    padding-left: 2rem;
  }

  .dream-application img {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .listing li::before {
    left: -1rem;
    top: 13px;
  }
}







.accordion-item {
  position: relative;
}

.vertical-line {
  position: absolute;
  left: 35px;
  top: 35%;
  bottom: 0;
  width: 2px;
  background: linear-gradient(100.63deg, #2ec4f3 9.94%, #bfd633 86.86%);
  transition: height 0.3s ease;
}

.open .vertical-line {
  height: 55%;
}

@media (max-width: 640px) {
  .what--we--title--head {
    text-align: center;
    text-overflow: ellipsis;

  }
  .vertical-line {
    display: none;
  }
  .open .horizontal-line {
    height: 1px;
    width: 100%;
  }
  .accordion-flush-heading-2 {
    position: relative;
  }
  .horizontal-line {
    display: block;  
    position: absolute;  
    width: 100%;  
    background: linear-gradient(100.63deg, #2ec4f3 9.94%, #bfd633 86.86%);  
    left: 0;  
    height: 2px; /* Fixed height */  
    transition: height 0.3s ease; 
  }
}

@media (max-width: 314px) {
    .horizontal-line {
        top: calc(4rem + (var(--title-size-64) / 1));
        left: 0;  
        height: 2px; /* Fixed height */  
        transition: height 0.3s ease; 
      }
}

.text-para{
  font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
}

.text-use{
  font-size:  clamp(1.5rem, -1.3125rem + 9vw, 3.75rem);
  margin-left: -10px;
}

.text-we-para{
font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
}
.text-we-use{
font-size:  clamp(1.5rem, -1.3125rem + 9vw, 3.75rem);
}
.category-item.active {
  background-color: white;
  font-weight: bold;
  color: #0f172a;
}
.category-item:hover .arrow-icon,
.category-item.active .arrow-icon {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}
/* ChatBot */


.listing-image li {
    position: relative;
    width: calc(50% - 20px);
}

.listing-image li::before {
    position: absolute;
    content: "";
    background: url('/arrow-list.svg');
    background-size: 30px 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 6px;
    bottom: 0;
    margin: auto;
    left: -37px;
}

@media (max-width: 540px) {

    .listing-image li {
        width: 100%;
        padding: 5px 0;
    }
}



.main-banner h1 {
  font-size: clamp(1.75rem, 1.1951rem + 3.1707vw, 5rem);
  font-weight: 900;
}

.main-banner p {
  font-size: clamp(1rem, 0.7866rem + 1.2195vw, 2.25rem);
}


.popup-overlay {
    background: linear-gradient(320deg, rgba(46, 196, 243, 0.3), rgba(191, 214, 51, 0.3));
}

/* Why Choose Lemolite css */
.why-lemo h2 {
  font-size: clamp(1.5rem, 1.0732rem + 2.439vw, 4rem);
  font-weight: 700;
}
.why-lemo p {
  font-size: clamp(1rem, 0.8506rem + 0.8537vw, 1.875rem);
}
.why-lemo h3 {
  font-size: clamp(0.875rem, 0.6829rem + 1.0976vw, 2rem);
  font-weight: 600;
}
@media (max-width: 640px) {

    .why-lemo{
        flex-direction: column;
    }
    .main-lemo-sec {
        text-align: center;
    }
    .image-list{
        height: 41px;
        width: 41px;
    }
}

.from-primary {
    --tw-gradient-from: #2EC4F3 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(46 196 243 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-secondry {
    --tw-gradient-to: #BFD633 var(--tw-gradient-to-position);
}



.common-lists li {
    position: relative;
    padding: 5px 0px 5px 30px; 
}

.common-lists li::before {
    content: '';
    display: inline-block;
    width: 30px;  
    height: 30px; 
    background-image: url('/right-arrow-list.svg');  
    background-size: 20px 20px;
    background-repeat: no-repeat; 
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 0;
}


.image-overlay
{
  position: relative;
}
.image-overlay::before
{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  transition:  0.3s ease-in-out;
  z-index: 1;
}
.image-overlay:hover::before
{
  background: rgba(0, 0, 0, 0.4)
}
.border-img
{
    border: double 2px transparent;
    border-radius: 26px;
    background-image: none;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition:  0.3s ease-in-out;
}
.border-img:hover
{
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #2ec4f3, #bfd633);
}
@keyframes scroll-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
 
@keyframes scroll-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
 
.animate-scroll-up {
  animation: scroll-up 15s linear infinite ;
}
 
.animate-scroll-down {
  animation: scroll-down 15s linear infinite ;
}
 
@media (max-width: 720.99px)
{
  @keyframes scroll-up {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
 
  @keyframes scroll-down {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
 
  



