 
.titletext.logosection h2 {
  font-size: 22px;
  line-height: inherit;
  font-weight: 500;
  text-align: center;
  color: #000000;
  font-family: var(--font-lexend);
}
.logosection {
  margin-bottom: 30px;
}
.brandsection {
  position: relative;
  padding: 30px 0;
}
.brandsection::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.99) 20%,
    rgba(255, 255, 255, 0) 33%,
    rgba(255, 255, 255, 0.99) 80%
  ); */
  height: 100%;
  z-index: 2;
}
.bannerimage {
  /* background-image: url("../../public/bg-backdrop.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: auto 16 / 9;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.bannerimage::before {
  /* background-image: url("../../public/slideanimation.gif"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: auto 16 / 9;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}
 

 
.sliderWrapper {
  overflow: hidden;
  width: 100%;
  /* background: #fff; */
}
 
.sliderMask {
  overflow: hidden;
  position: relative;
  width: 100%;
}
 
.sliderTrack {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  will-change: transform;
}
 
.slide {
  flex: 0 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.slide img {
  height: 40px;
  width: auto; 
  object-fit: contain;
}
 
 